In [1]:
import numpy as np
import pandas as pd

In [2]:
insurance_data = pd.read_csv('insurance.csv')

In [4]:
insurance_data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
#split data into test and train set
x = insurance_data.drop('charges', axis=1).values
y = insurance_data['charges'].values

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train,x_test,y_train,y_test = train_test_split(x,y, random_state = 0)

In [8]:
x_test

array([[52, 'male', 30.2, 1, 'no', 'southwest'],
       [47, 'female', 29.37, 1, 'no', 'southeast'],
       [48, 'male', 40.565, 2, 'yes', 'northwest'],
       ...,
       [51, 'male', 30.03, 1, 'no', 'southeast'],
       [23, 'male', 37.1, 3, 'no', 'southwest'],
       [61, 'female', 29.07, 0, 'yes', 'northwest']], dtype=object)

In [9]:
x_test.shape

(335, 6)

In [10]:
#convert x test from numpy array to dataframe
test_data = pd.DataFrame(x_test, columns=['age','sex','bmi','children','smoker','region',])

In [13]:
test_data.head()

  age     sex     bmi children smoker     region
0  52    male    30.2        1     no  southwest
1  47  female   29.37        1     no  southeast
2  48    male  40.565        2    yes  northwest
3  61    male   38.38        0     no  northwest
4  51  female   18.05        0     no  northwest

In [20]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       335 non-null    object
 1   sex       335 non-null    object
 2   bmi       335 non-null    object
 3   children  335 non-null    object
 4   smoker    335 non-null    object
 5   region    335 non-null    object
dtypes: object(6)
memory usage: 15.8+ KB

export x data as csv file

In [23]:
test_data.to_csv('test_data.csv')

In [21]:
#import dependencies
import sqlite3 as sql
import numpy as np
import pandas as pd

In [24]:
#connect to database
con = sql.connect('test_data.db')
test_data = pd.read_sql_query('SELECT * from test_data', con)
c=con.cursor()

print(test_data.head())

   age     sex     bmi  children smoker     region
0   52    male  30.200         1     no  southwest
1   47  female  29.370         1     no  southeast
2   48    male  40.565         2    yes  northwest
3   61    male  38.380         0     no  northwest
4   51  female  18.050         0     no  northwest

In [25]:
#Query testdata
c.execute('SELECT smoker FROM test_data')
print(c.fetchall())

[('no',), ('no',), ('yes',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('yes',), ('no',), ('no',), ('no',), ('no',), ('yes',), ('yes',), ('no',), ('no',), ('yes',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('yes',), ('no',), ('no',), ('yes',), ('no',), ('no',), ('yes',), ('yes',), ('no',), ('no',), ('no',), ('yes',), ('yes',), ('yes',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('yes',), ('yes',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('yes',), ('no',), ('no',), ('no',), ('no',), ('yes',), ('yes',), ('no',), ('no',), ('no',), ('no',), ('yes',), ('no',), ('no',), ('no',), ('no',), ('no',), ('yes',), ('yes',), ('no',), ('yes',), ('no',), ('no',), ('yes',), ('yes',), ('no',), ('no',), ('no',), ('yes',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('yes',), ('yes',), ('no',), ('no',), ('no',), ('no',), ('no',), ('yes',), ('yes',), ('no',), ('no',), ('no',), ('no',), ('yes',), ('no',), ('no',), ('no',), ('yes',), ('yes',), ('no',), ('no',), ('no',), ('no',), ('no',), ('yes',), ('no',), ('no',), ('no',), ('no',), ('no',), ('yes',), ('yes',), ('yes',), ('no',), ('no',), ('no',), ('no',), ('no',), ('yes',), ('yes',), ('yes',), ('no',), ('yes',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('yes',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('yes',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('yes',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('yes',), ('no',), ('no',), ('no',), ('no',), ('yes',), ('no',), ('no',), ('yes',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('yes',), ('no',), ('yes',), ('no',), ('yes',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('yes',), ('no',), ('no',), ('no',), ('yes',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('yes',), ('yes',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('yes',), ('yes',), ('no',), ('no',), ('no',), ('yes',), ('no',), ('yes',), ('no',), ('yes',), ('no',), ('no',), ('no',), ('yes',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('yes',), ('no',), ('no',), ('no',), ('yes',), ('no',), ('no',), ('no',), ('no',), ('yes',), ('no',), ('no',), ('no',), ('no',), ('no',), ('yes',), ('yes',), ('no',), ('no',), ('no',), ('no',), ('no',), ('yes',), ('yes',), ('no',), ('yes',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('yes',), ('no',), ('no',), ('no',), ('no',), ('no',), ('no',), ('yes',), ('yes',), ('no',), ('yes',), ('no',), ('no',), ('no',), ('no',), ('yes',)]

In [26]:
c.execute('SELECT bmi FROM test_data')
print(c.fetchmany(10))

[(30.2,), (29.37,), (40.565,), (38.38,), (18.05,), (21.375,), (26.315,), (36.385,), (30.21,), (31.065,)]

In [28]:
c.execute('SELECT age FROM test_data')
print(c.fetchone())

(52,)

In [30]:
c.execute('SELECT age,sex,bmi,children,smoker,region FROM test_data')
x=c.fetchmany(10)
df = pd.DataFrame(x)
print(df)

    0       1       2  3    4          5
0  52    male  30.200  1   no  southwest
1  47  female  29.370  1   no  southeast
2  48    male  40.565  2  yes  northwest
3  61    male  38.380  0   no  northwest
4  51  female  18.050  0   no  northwest
5  34    male  21.375  0   no  northeast
6  18  female  26.315  0   no  northeast
7  51  female  36.385  3   no  northwest
8  38  female  30.210  3   no  northwest
9  31    male  31.065  3   no  northwest

In [31]:
c.execute('SELECT age,sex,bmi,children,smoker,region FROM test_data WHERE age < 22')
y=c.fetchmany(10)
df = pd.DataFrame(y)
print(df)

    0       1       2  3    4          5
0  18  female  26.315  0   no  northeast
1  20    male  30.685  0  yes  northeast
2  20  female  33.300  0   no  southwest
3  18  female  36.850  0  yes  southeast
4  21  female  32.680  2   no  northwest
5  19  female  27.930  3   no  northwest
6  19    male  28.700  0   no  southwest
7  19    male  30.250  0  yes  southeast
8  21  female  21.890  2   no  southeast
9  20    male  27.300  0  yes  southwest